{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Text{% endtrans %}</th>
                <th>{% trans %}Correct{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.text }}</td>
                <td>{{ answer.correct }}</td>
                <td>
                    <a href="{{ path('answer_show', {'id': answer.id}) }}"> <i class="fas fa-eye"></i>{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('answer_edit', {'id': answer.id}) }}"> <i class="fas fa-edit"></i>{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('answer_new') }}"> <i class="fas fa-plus-square"></i>{% trans %}Create new{% endtrans %}</a>
{% endblock %}
