{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>{% trans %}Category index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Shortname{% endtrans %}</th>
                <th>{% trans %}Longname{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i> {% trans %}show{% endtrans %}</a>
                    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i> {% trans %}edit{% endtrans %}</a>{% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<a class="btn btn-primary" href="{{ path('category_delete', {'id': category.id}) }}"><i class="fas fa-trash-alt"></i> {% trans %}delete{% endtrans %}</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}"><i class="fas fa-plus-square"></i> {% trans %}Create new{% endtrans %}</a>
{% endblock %}
